body {
    background-color: lightgray;
    font-family: 'Domine', serif;

}

.card-title {
    text-align: center;
    text-decoration: underline;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.card {
    border-color: black;
}

#indexpic {
    border-style: groove;
    border-width: 1px;
    border-color: black;
}

#contactcontainer {
    margin-left: 25px;
    margin-right: 25px;
}

#pfdescription {
    text-align: center;
}

#sober {
    background-color: #fee6fc;
}

#soberbtn {
    background-color: plum;
    border-color: brown;
}

#clairvoyantbtn {
    border-color: darkblue;
}

#sunkissed {
    background-color: #69faff;
    
}

#sunkissedbtn {
    background-color: #24aa00;
}

#sunkissed.card-body {
    height: 178px;
}

@media screen and (max-width: 640px) {
    header {position: static;}
    body {width: 100%}
    .container {width: 100%}
    .row {width: 100%}
    #indexpic {width: 100%}
  }
  
  @media screen and (max-width: 768px) {
    body {width: 100%}
    .container {width: 100%}
    .row {width: 45%}
    #indexpic {width: 100%}
  }
  
  @media screen and (max-width: 980px) {
    body {width: 100%}
    .container {width: 100%}
    .row {width: 45%}
    #indexpic {width: 100%}
  }